#navbar-top-section{
  .fa{
    font-size: 20px;
    padding: 0px 5px 0px 5px;
    color: #fff;
  }
  .float-right{
    padding-bottom: 0px !important;
  }
}

#main-nav{
  .form-inline{

  }
  .navbar-brand{
    font-size: 2.25rem !important;
  }
  ul{
    li{

    }
    li:hover {
      border-top: 3px solid #148da0;
    }
  }
}
#myCarousel{
  .carousel-item{
    height: 500px;
  }
  .carousel-img-1{
    background: url('../img/slide1.png');
    background-size: cover;
  }
  .carousel-img-2{
    background: url('../img/slide2.png');
    background-size: cover;
  }
  .carousel-img-3{
    background: url('../img/slide3.png');
    background-size: cover;
  }
  .carousel-caption{
    margin-bottom: 90px;
  }
}
#big-btn-section{
  a{
    color: #fff;
    text-decoration: none;
  }
  .sec1{
    background: #17a2b8;
  }
  .sec1:hover{
    color: #fff;
    background: #097687;
  }
  .sec2{
    color: #fff;
    background: #007bff;
  }
  .sec2:hover{

    background: #104987;
  }
}
#our-recent-work{
  background: #c2e1ff;
  img{
    height: 230px;
  }
  .fa-minus{
    font-size: 80px;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
#about-us{
  background: #a2cdd3;
  .map{
    height:auto;
    background: url('../img/home_charity2_map.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#accordion{
  background:#BAF3FF;
  padding-top: 70px;
  padding-bottom: 90px;
  a{
    color: #000;
    text-decoration: none;
  }
}
#team-section{
  background:#c2e1ff;
  padding-top: 50px;
  padding-bottom: 90px;
  .col-md-3{
    p{
      border-bottom: 2px solid #17a2b8;
      padding-bottom: 40px;
    }
  }
}
#footer-section{
  padding: 80px 0px;
  li{
    list-style-type: none;
    padding: 4px 0px;
    .fa{
      margin-right: 8px;
    }
    a{
      color: #fff;
      text-decoration: none;
    }
  }
}



@media (max-width: 1200px){

}

@media (max-width: 992px){
  #main-nav{
    .form-inline{
      a{
        display: none !important;
      }
    }
  }

}
@media (max-width: 768px){
  #navbar-top-section{
    .float-left{
      display: block !important;
      text-align: center !important;
      float: none !important;
    }
    .float-right{
      display: block !important;
      text-align: center !important;
      float: none !important;
    }
  }
  #main-nav{
    .form-inline{
      a{
        display: none !important;
      }
    }
  }

}

@media (max-width: 767px){
#about-us{
  .map{
    height: 500px;
  }
}
}
@media (max-width: 550px){
#about-us{
  .map{
    height: 500px;
  }
}
  #navbar-top-section{
    .float-right{
      display: none !important;
    }
    .float-left{
      .fa-envelope{
        display: block !important;
        text-align: center !important;
      }
    }
  }
}
